/node_modules
/.phpunit.result.cache
/npm-debug.log
/yarn-error.log
/.idea
/.vscode
.phpunit.result.cache
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
mix-manifest.json
/.idea
.idea
.vscode
.AppleDouble
.LSOverride
.htaccess
package-lock.json
/logs/*